@media screen and (max-width: 650px) {

  /* Typography */

  .mdc-typography--body2 {
    font-size: 1em;
  }

  .mdc-typography--subheading1 {
    font-size: .9em;
  }

  .mdc-typography--title {
    font-size: 1em;
  }

  /* Content */

  .infowindow {
    max-height: 200px;
  }

  #map {
    bottom: 40%;
    grid-row-end: 1;
    grid-row-start: 1;
    height: 60%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .mdc-permanent-drawer {
    grid-row-end: 2;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
  }

  #tips {
    font-size: .8em;
    max-width: 180px;
  }
}

@media screen and (min-width: 651px) {

  .infowindow {
    max-height: 300px;
  }

  #map {
    bottom: 0px;
    height: 100%;
    left: 240px;
    position: absolute;
    right: 0px;
  }

  .mdc-permanent-drawer {
    height: 100vh;
    position: fixed;
  }

  #tips {
    max-width: 400px;
  }
}

/* Theme */

:root {
  --mdc-theme-primary: #ff9800;
  --mdc-theme-primary-light: #ffb74d;
  --mdc-theme-primary-dark: #f57c00;
  --mdc-theme-secondary: #448aff;
}

/* Commmon */

body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

body {
  color: #2d3c49;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
}

img,
embed,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}

nav a,
button {
  min-height: 48px;
  min-width: 48px;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Content */

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60% 40%;
  height: 100%;
  width: 100%;
}

.enabled {
  background-color: blue;
}

#filter-text {
  font-size: 1.3em;
  padding-top: 8px;
  width: 100%;
}

.foursquare-logo {
  width: 200px;
}

.infowindow-title {
  padding-bottom: 10px;
}

.mdc-permanent-drawer {
  display: none;
  overflow-y: scroll;
}

.place-item {
  font-size: 1.3em;
  padding: 10px 0 10px 20px;
}

.place-item:hover {
  background-color: #448aff;
  color: #ff9800;
  cursor: pointer;
}

.place-list .mdc-list {
  height: 100%;
  list-style: none;
  padding: 0;
}
