/* Commmon */

body,
html {
  height: 100%;
  margin: 0 auto;
  /*max-width: 1050px;*/
  padding: 0;
  width: 100%;
}

body {
  color: #2d3c49;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
}

img,
embed,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}

nav a,
button {
  min-height: 48px;
  min-width: 48px;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/*.list-box {
  box-sizing: border-box;
  height: 100%;
  width: 340px;
  padding: 4px;
  text-align: left;
}*/

#map {
  bottom: 0px;
  height: 100%;
  left: 240px;
  position: absolute;
  right: 0px;
}

/*.title {
  width: 100%;
  padding-top: 16px;
  text-align: center;
  font-size: 2em;
}*/

#filter-text {
  /*box-sizing: border-box;*/
  /*line-height: 30px;*/
  font-size: 1.3em;
  padding-top: 8px;
  width: 100%;
}

.mdc-permanent-drawer {
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
}

.place-list .mdc-list {
  list-style: none;
  padding: 0;
  height: 100%;
}

.place-item {
  font-size: 1.3em;
  padding: 10px 0 10px 20px;
}

.place-item:hover {
  cursor: pointer;
  background-color: #448aff;
  color: #ff9800;
}

.enabled {
  background-color: blue;
}

#tips {
  max-width: 400px;
}

.infowindow-title {
  padding-bottom: 10px;
}
