/* Commmon */

body,
html {
  height: 100%;
  margin: 0 auto;
  max-width: 1050px;
  padding: 0;
  width: 100%;
}

body {
  color: #2d3c49;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
}

img,
embed,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}

nav a,
button {
  min-height: 48px;
  min-width: 48px;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.list-box {
  width: 340px;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}
